.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 1rem;
  background: #f6f6f6;
}

.login-card {
  max-width: 380px;
  width: 100%;
  padding: 2rem;
  border-radius: 16px;
  background: #ffffff;
  border: 4px solid #000;
  box-shadow: 8px 8px 0px #000;
}

.login-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
  font-weight: 900;
  color: #000;
}

/* Inputs */
.form-group input {
  padding: 0.8rem;
  border: 3px solid #000;
  border-radius: 10px;
  background: #fff;
  font-weight: 600;
}

.form-group input:focus {
  border-color: #ff00aa;
}

.login-button {
  width: 100%;
  padding: 0.9rem;
  margin-top: 0.5rem;
  background: #ff00aa;
  border: 3px solid #000;
  border-radius: 14px;
  color: #fff;
  font-weight: 800;
  font-size: 1.1rem;
  box-shadow: 4px 4px 0px #000;
  transition: 0.1s;
}

.login-button:hover {
  transform: translate(-2px, -2px);
  box-shadow: 6px 6px 0px #000;
  cursor: pointer;
}
